---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1> Hello, hoopers!</h1>
			<p>
				Welcome to Hooper101, a blog dedicated to helping basketball enthusiasts of all skill levels improve their game. Whether you're a beginner looking to learn the basics or an experienced player aiming to refine your skills, Hooper101 has something for you.
			</p>

			<p>
				Click on the "Blog" link in the header to explore our latest articles, tips, and drills designed to elevate your basketball skills. From shooting techniques to defensive strategies, we've got you covered.
			</p>

		</main>
		<Footer />
	</body>
</html>
